In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    "height" : [6.0,6.2,5.6,5.8,5.9,5.11,6.0,5.5,
               4.7,4.2,5.2,5.1,5.9,5.7,5.3,4.9],
    "weight" : [86,85,67,70,73,71,78,69,49,47,50,49,53,60,56,55],
    "gender" : ["male","male","male","male","male","male","male","male",
               "female","female","female","female","female","female","female","female",]
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df.head()

   height  weight gender
0     6.0      86   male
1     6.2      85   male
2     5.6      67   male
3     5.8      70   male
4     5.9      73   male

In [7]:
total_obs = df['gender'].count()

In [11]:
male_count = df['gender'][df['gender'] == "male"].count()

In [12]:
male_count

8

In [13]:
female_count = df['gender'][df['gender'] == "female"].count()

In [14]:
female_count

8

In [15]:
prob_male = male_count / total_obs
prob_female = female_count / total_obs

In [16]:
prob_male, prob_female

(0.5, 0.5)

In [18]:
mean = df.groupby('gender').mean()

In [19]:
mean

         height  weight
gender
female  5.12500  52.375
male    5.76375  74.875

In [20]:
var = df.groupby('gender').var()

In [21]:
var

          height     weight
gender
female  0.293571  19.410714
male    0.120798  53.553571

In [22]:
def p_given_x(obs,mean,var):
    return 1 / (np.sqrt(2 * np.pi() * var)) * (np.exp(-((obs - mean) ** 2) / 2 * var))

In [24]:
newInput = [5.7,65]
p_h, p_w = newInput

In [25]:
male = p_given_x(p_h,male_mean_h, male_var,h) * p_given_x(p_w,male_mean_w, male_var_w) * prob_male
female = p_given_x(p_h,female_mean_h, female_var,h) * p_given_x(p_w,female_mean_w,female_var_w) * prob_female

NameError: name 'male_mean_h' is not defined