In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    "height" : [6.0,6.2,5.6,5.8,5.9,5.11,6.0,5.5,
               4.7,4.2,5.2,5.1,5.9,5.7,5.3,4.9],
    "weight" : [86,85,67,70,73,71,78,69,49,47,50,49,53,60,56,55],
    "gender" : ["male","male","male","male","male","male","male","male",
               "female","female","female","female","female","female","female","female",]
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df.head()

   height  weight gender
0     6.0      86   male
1     6.2      85   male
2     5.6      67   male
3     5.8      70   male
4     5.9      73   male

In [5]:
total_obs = df['gender'].count()

In [6]:
male_count = df['gender'][df['gender'] == "male"].count()

In [7]:
male_count

8

In [8]:
female_count = df['gender'][df['gender'] == "female"].count()

In [9]:
female_count

8

In [10]:
prob_male = male_count / total_obs
prob_female = female_count / total_obs

In [11]:
prob_male, prob_female

(0.5, 0.5)

In [12]:
mean = df.groupby('gender').mean()

In [13]:
mean

         height  weight
gender
female  5.12500  52.375
male    5.76375  74.875

In [14]:
var = df.groupby('gender').var()

In [15]:
var

          height     weight
gender
female  0.293571  19.410714
male    0.120798  53.553571

In [16]:
male_mean_height = mean['height'][1]
male_mean_weight = mean['weight'][1]

male_var_height = var['height'][1]
male_var_weight = var['weight'][1]

female_mean_height = mean['height'][0]
female_mean_weight = mean['weight'][0]

female_var_height = var['height'][0]
female_var_weight = var['weight'][0]

In [32]:
def p_given_x(obs,mean,var):
    return (1 / (np.sqrt(2 * np.pi * var))) * np.exp(-((obs - mean) ** 2) / (2 * var))

In [38]:
newInput = [5.1,55]
p_h, p_w = newInput

In [39]:
male = p_given_x(p_h,male_mean_height, male_var_height) * p_given_x(p_w,male_mean_weight, male_var_weight) * prob_male
female = p_given_x(p_h,female_mean_height, female_var_height) * p_given_x(p_w,female_mean_weight,female_var_weight) * prob_female

In [40]:
male > female

False

In [41]:
female

0.02788463184966425