In [1]:
import pymysql
import pandas as pd

# Reading data from Database

In [2]:
connection = pymysql.connect(host='localhost', port=3306,user='root',
                            database='onlineshopping',autocommit=True)

In [3]:
query = "select * from products"
df = pd.read_sql(query, connection)

In [4]:
df

,p_id,p_name,p_price,p_image,p_category,p_brand
0,101,Apple Iphone X,80000,https://www.yaphone.com/1469-tm_large_default/...,mobile,Apple
1,102,Apple Iphone XS,90000,https://static.toiimg.com/photo/65786818/Apple...,mobile,Apple
2,103,JBL Headphones,3000,http://assets.myntassets.com/assets/images/782...,headphones,JBL
3,104,Adidas Shoes,2500,"https://assets.adidas.com/images/w_600,f_auto,...",shoes,Adidas
4,105,Mi LED Smart TV,12999,https://rukminim1.flixcart.com/image/832/832/j...,TV,Mi