In [1]:
import pandas as pd
import numpy as np
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.linear_model import LogisticRegression

C:\Users\asus\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\asus\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [8]:
imdb = pd.read_csv('imdb_labelled.txt', sep='\t',header=None)

In [9]:
imdb.head()

                                                   0  1
0  A very, very, very slow-moving, aimless movie ...  0
1  Not sure who was more lost - the flat characte...  0
2  Attempting artiness with black & white and cle...  0
3       Very little music or anything to speak of.    0
4  The best scene in the movie was when Gerardo i...  1

In [6]:
imdb.shape

(748, 2)

In [7]:
amazon = pd.read_csv('amazon_cells_labelled.txt', sep='\t', header=None)
yelp = pd.read_csv('yelp_labelled.txt', sep='\t', header=None)

In [10]:
df = pd.DataFrame()

In [13]:
df = df.append(imdb)

In [14]:
df.head()

                                                   0  1
0  A very, very, very slow-moving, aimless movie ...  0
1  Not sure who was more lost - the flat characte...  0
2  Attempting artiness with black & white and cle...  0
3       Very little music or anything to speak of.    0
4  The best scene in the movie was when Gerardo i...  1

In [15]:
df = df.append(amazon)

In [17]:
df.shape

(1748, 2)

In [18]:
df = df.append(yelp)

In [19]:
df.shape

(2748, 2)

In [22]:
df.columns = ['review','sentiment']

In [23]:
df_tokens = []
for i in range(len(df)):
    df_tokens.append(word_tokenize(df['review'].iloc[i].lower()))

In [25]:
print(df_tokens[0])

['a', 'very', ',', 'very', ',', 'very', 'slow-moving', ',', 'aimless', 'movie', 'about', 'a', 'distressed', ',', 'drifting', 'young', 'man', '.']

In [26]:
eng_stopwords = stopwords.words('english')

In [27]:
eng_stopwords.extend([',','.',"'"])

In [30]:
words = []
for list_1 in df_tokens:
    main_words = []
    for word in list_1:
        if word not in eng_stopwords:
            main_words.append(word)
    words.append(main_words)

In [31]:
words[0]

['slow-moving', 'aimless', 'movie', 'distressed', 'drifting', 'young', 'man']

In [32]:
wnet = WordNetLemmatizer()

In [33]:
for i in range(len(words)):
    for j in range(len(words[i])):
        lemm = wnet.lemmatize(words[i][j], pos='v')
        words[i][j] = lemm

In [34]:
words[0]

['slow-moving', 'aimless', 'movie', 'distress', 'drift', 'young', 'man']

In [35]:
for i in range(len(words)):
    words[i] = ' '.join(words[i])

In [36]:
tfidf = TfidfVectorizer()

In [37]:
vect = tfidf.fit_transform(words)

In [38]:
vect.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [47]:
x_train,x_test,y_train,y_test = train_test_split(vect,df['sentiment'],test_size=0.25)

In [48]:
x_train.shape

(2061, 4372)

In [49]:
y_train.shape

(2061,)

In [50]:
reg = LogisticRegression()

In [51]:
reg.fit(x_train, y_train)

C:\Users\asus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [52]:
y_pred = reg.predict(x_test)

In [53]:
accuracy_score(y_test, y_pred)

0.7729257641921398

In [54]:
confusion_matrix(y_test, y_pred)

array([[268,  77],
       [ 79, 263]], dtype=int64)

In [55]:
rev = "The best marvel movie ever.. It was epic!! You'll enjoy every moment of the 3hr2min movie. All I can say is.. We love you 3000 AVENGERS!!"